<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="UTF-8">
	    <title>${appTitle}</title>
	    
	    <link rel="stylesheet" href="../static/css/common.css" />
		<link rel="stylesheet" href="../static/css/layui.css" />
		<link rel="stylesheet" href="../static/css/index.css" />
		<script type="text/javascript" src="../static/lib/ajax/jquery.min.js" ></script>
		<script type="text/javascript" src="../static/js/index.js" ></script>
	</head>
	<body>
		
		<div>
			
			<div class="head">
				<!--<i class="icon layui-icon layui-icon-shrink-right"></i>-->
				
				<div class="title">欢迎使用管理系统</div>
			</div>
			
			<div class="bottom">
				
				<div class="left-nav">
					<div id="div_left_nav">
						<!--<div class="menu"><span class="title"><i class="layui-icon layui-icon-set-fill"></i>&nbsp;系统设置系统设置系统设置系统设置</span> <i class="arrow layui-icon layui-icon-right"></i></div>-->
						
					</div>
				</div>
				
				<div class="right">
					<div class="tab">
						<div></div>


					</div>
					
					<div class="content"></div>
					
					<div class="bottom"></div>
				</div>
				
			</div>
			
		</div>
	
	</body>
</html>